.backgr{
    background-image: url('../Images/globe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 120vmax;
    top: 0;
    bottom: 0;  
    position: absolute;
    flex-direction: column;
    margin: 0
    
}

.buttonCreate{
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.titleh1{
    font-size: 35px;
    /* font-weight: 400; */
    background-image: linear-gradient(to bottom right, #fefefe, #393585);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
 }

.button{
    background-color: #5769cb;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 0;
    margin-bottom: 10px
  }
  
  .button:hover {
    background-color: white;
    color: black;
    border: 1px solid #5769cb;
    cursor: pointer
  }


.pagination {
    /* display: flex; */
    justify-content: center;
    margin: 0px;
    padding: 5px;
}

.cardContainer{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}























/* 

.filtros {
    background-color: #07648f;
    border-color: black;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    color: blanchedalmond;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    font-family: 'Arvo', serif;
    margin: 25px 0px 15px 0px;
    
}

.select {
    border-radius: 5px;
    border-color: #07648f;
    padding: 3px;
    margin: 8px;

} */