.backgr{
    background-image: url('../Images/light-globe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 140vmax;
    top: 0;
    bottom: 0;  
    position: absolute;
    flex-direction: column;
    margin: 0
    
}


.titleh1{
    font-size: 35px;
    /* font-weight: 400; */
    /* background-image: linear-gradient(to bottom right, #fefefe, #393585); */
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 10px
 }

.button{
    background-color: white;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 0;
    margin-bottom: 10px
  }
  
  .button:hover {
    background-color: white;
    color: black;
    border: 1px solid #5769cb;
    cursor: pointer
  }

  .select{
    max-width: 250px;
    border-radius: 5px;
    border-color: #07648f;
    padding: 3px;
    margin: 8px;
  }

.pagination {
    /* display: flex; */
    justify-content: center;
    margin: 0px;
    padding: 5px;
}

.cardContainer{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}























/* 

.filtros {
    background-color: #07648f;
    border-color: black;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    color: blanchedalmond;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    font-family: 'Arvo', serif;
    margin: 25px 0px 15px 0px;
    
}

.select {
    border-radius: 5px;
    border-color: #07648f;
    padding: 3px;
    margin: 8px;

} */