.titleh1{
    font-size: 35px;
    /* font-weight: 400; */
    background-image: linear-gradient(to left, #0b0f80, #a19ce9);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
 }

.button{
    background-color: #5769cb;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 0;
    margin-bottom: 10px
  }
  
  .button:hover {
    background-color: white;
    color: black;
    border: 1px solid #5769cb;
    cursor: pointer
  }

/* 

.filtros {
    background-color: #07648f;
    border-color: black;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    color: blanchedalmond;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    font-family: 'Arvo', serif;
    margin: 25px 0px 15px 0px;
    
}

.select {
    border-radius: 5px;
    border-color: #07648f;
    padding: 3px;
    margin: 8px;

} */

.pagination {
    /* display: flex; */
    justify-content: center;
    margin: 0px;
    padding: 5px;
}

