.backgr{
    background-image: url('../Images/activities.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vmax;
    /* top: 0;
    bottom: 0;   */
    /* position: absolute;
    flex-direction: column;
    margin: 0 */ 
}

.button{
    color: black;
    margin-top: 20px;
    float: center;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    border-color: rgba(240, 248, 255, 0.397);
    background-color: rgba(87, 84, 84, 0.52);
    color: white;
}

.button:hover {
    background-color: grey;
    color: white;
    cursor: pointer
  }

.container{
    border-radius: 3%;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.743);
    min-height: 400px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 15px;
    display: inline-block;
}

.errors {
    font-size: medium;
    color: red;
    margin: 3px;
}