.contpag {
    margin: 5px;
    display: flex;
    justify-content: center;
}

.botpag {
    color: black;
    float: left;
    padding: 8px 12px;
    text-decoration: none;
}

/* .botpag a {
    border-radius: 5px;
  /* } */

/* .botpag a.active{
    background-color: #4CAF50;
    color: white;
} */ 

.botpag:hover:not(.active) {background-color: #ddd;}