.backr{
    background-image: url('../Images/globe-3.jpg');
    background-size: cover;
    width: auto;
    height: 150vh;
    background-repeat: no-repeat;
    background-position-x: center;
    align-content: center;
    justify-content: center;
    display: block;
}

.detailCard{
    border-radius: 3%;
    margin: 40px;
    background-color: rgba(248, 248, 248, 0.471);
    min-height: 500px;
    width:fit-content;
    justify-content: center;
    align-items: center;
    display:inline-flex;
    padding-right: 50px;
}

.container{
    margin-top: -30px;
    margin-bottom: 0px;
    padding-left: 50px;
}

.name{
    color: rgb(9, 57, 154);
    font-weight: bolder;
    font-size:xx-large;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}

.flag{
    border-radius: 5px;
    width: 12em;
    height: 7.5em;
    margin-top: 15px;
    margin-bottom: -10px;
}

.continent{
    color: rgb(9, 57, 154);
    text-align: center;
    /* font-size: large; */
    margin: 15px;
}

.detail{
    color: black(58, 76, 90);
    margin: 10px;
}

.actContainer{
    width: 200px;
    /* margin-left: 70px; */
    border-radius: 3%;
    /* margin: 40px; */
    background-color: rgba(135, 130, 130, 0.362);
    position: relative;
    left: 18px;
    justify-content: center;
    align-items: center;
}

.activitiesTitle{
    color: black;
    text-align: center;
}

.activityName{
    color: rgb(9, 57, 154);
    margin-bottom: 8px;
    margin-top: 20px
}

.btnHome{
    color: black;
    float: center;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    border-color: rgba(240, 248, 255, 0.397);
    background-color: rgba(128, 128, 128, 0.52);
    color: white;
}

.btnHome:hover {
    background-color: grey;
    color: white;
    cursor: pointer
}
